.wrapper{
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: larger;
    background:url(https://cdn.shira-diamonds.com/wp-content/uploads/2020/06/Diamond-Rings.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

.about{
    align-items: center;
    height: 90px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}

.button1.active,
.button1:hover {
    background: rgb(211, 205, 210);
    border-radius: 25px;
 
}
.button1{
    height: 33px;
    width: 170px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid;
    cursor: pointer;
    border-radius: 25px;  
}


.navbar{
    align-items: center;
    height: 80px;
    width: 100%;
    background: rgba(0,0,0,0.4);

}

.navbar Link{
    float: right;
    margin-right: 20px;
    line-height: 80px;

}
.h1{
    color: rgb(61, 60, 60);
    padding: auto;
    margin: auto;
    font-size: 50px;
    font-weight: bold;
    width: 500px;
    text-align: center;
}

.h{
    color: lightgray;
    margin:"auto"; 
    text-align:"center";
}

.tocalculate{
    padding: auto;
    margin: auto;
    align-items: center;
    height: 41px;
    width: 250px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid;
    cursor: pointer;
    border-radius: 25px;
}

